// Font weights
$regular: 400;
$bold: 700;
// Base Font
$base-font: 'Open Sans',
sans-serif;
// Headings
$header-font: 'Bitter',
serif;
// Colors 
$base-dark: #1E2330;
$base-dark-gray: #EFEFEF;
$base-light-gray: #FCFCFC;
$base-brown: #7C625E;
$base-blue: #00CAF8;
$footer-dark: #13161F;