@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");
.accordion .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
  padding: 5px 10px;
  background: #fafafa none repeat scroll 0% 0%; }
.accordion .panel-body {
  background: #fafafa none repeat scroll 0% 0%; }
.accordion .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE; }
.accordion .panel-title {
  font-size: 16px; }
.accordion .panel-title > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 15px;
  text-decoration: none; }
.accordion .more-less {
  float: left;
  color: #fff;
  background: #7C625E;
  padding: 0 0 0 1px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE; }

.bg-list-wrap {
  background: #eee; }
  .bg-list-wrap .bg-list-item {
    padding: 15px 35px;
    margin-bottom: 15px; }
    .bg-list-wrap .bg-list-item li {
      padding: 0 0 5px 15px;
      font-size: 15px;
      background: url("../../img/dot.svg") 0 9px no-repeat;
      background-size: 4px; }
      .bg-list-wrap .bg-list-item li.bg-list-title {
        padding: 0;
        background: none; }
  .bg-list-wrap .bg-list-items {
    padding: 15px 35px; }
    .bg-list-wrap .bg-list-items ul {
      margin-bottom: 15px; }
      .bg-list-wrap .bg-list-items ul li {
        padding: 0 0 5px 15px;
        font-size: 15px;
        background: url("../../img/dot.svg") 0 9px no-repeat;
        background-size: 4px; }
        .bg-list-wrap .bg-list-items ul li.bg-list-title {
          padding: 0;
          background: none; }

.btn {
  border-radius: 0; }

.btn-uppercased {
  background: none;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
  margin: 0;
  font-size: 11px; }
  .btn-uppercased:hover {
    background: none;
    color: #00CAF8; }
  .btn-uppercased:focus {
    background: none;
    color: #00CAF8; }
  .btn-uppercased.underline {
    border-bottom: 1px solid #7C625E; }

.btn-filled {
  background: #00CAF8;
  color: #fff;
  padding: 10px 40px;
  margin: 0;
  font-size: 16px;
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .btn-filled {
      width: auto; } }
  .btn-filled:hover {
    background: #2cd8ff;
    color: #fff; }
  .btn-filled:focus {
    background: #2cd8ff;
    color: #fff; }
  .btn-filled.color-brown {
    background: #7C625E;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .btn-filled.color-brown:hover {
      background: #977a76;
      color: #fff; }
    .btn-filled.color-brown:focus {
      background: #977a76;
      color: #fff; }
    .btn-filled.color-brown i {
      font-size: 9px; }
  .btn-filled.reservation {
    padding: 8px 20px; }
    .btn-filled.reservation.small {
      padding: 5px 10px;
      font-size: 13px; }

.btn-newsletter {
  background: #7C625E;
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 20px;
  margin-bottom: 25px; }
  @media only screen and (min-width: 768px) {
    .btn-newsletter {
      width: auto;
      margin: -31px 0 40px;
      padding: 20px 80px; } }
  .btn-newsletter:hover {
    background: #977a76;
    color: #fff;
    opacity: 1; }
  .btn-newsletter:focus {
    background: #977a76;
    color: #fff;
    opacity: 1; }

.pc-carousel .carousel-indicators {
  bottom: 25px; }
  .pc-carousel .carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 12px; }
    .pc-carousel .carousel-indicators li.active {
      width: 12px;
      height: 12px;
      background-color: #fff; }
.pc-carousel .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background: rgba(30, 35, 48, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  @media only screen and (min-width: 992px) {
    .pc-carousel .carousel-caption {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row; } }
  .pc-carousel .carousel-caption p {
    color: #e9e9e9;
    margin: 3px 0;
    padding: 0;
    font-size: 12px; }
    @media only screen and (min-width: 992px) {
      .pc-carousel .carousel-caption p {
        margin: 3px 10px 3px 0; } }

.form-wrap.spaced {
  margin-top: 60px; }
.form-wrap .form-control {
  border-radius: 0; }
  .form-wrap .form-control.h40 {
    height: 40px; }
.form-wrap .nice-select {
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-weight: normal;
  outline: none;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.9;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-top-color: #cccccc;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.form-wrap .nice-select:active,
.form-wrap .nice-select.open,
.form-wrap .nice-select:focus {
  border-color: #999;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
.form-wrap .nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px; }
.form-wrap .nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }
.form-wrap .nice-select.open .list {
  opacity: 1;
  width: 100%;
  border-radius: 0;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0); }
.form-wrap .nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none; }
.form-wrap .nice-select.disabled:after {
  border-color: #cccccc; }
.form-wrap .nice-select.wide {
  width: 100%; }
.form-wrap .nice-select.wide .list {
  left: 0 !important;
  right: 0 !important; }
.form-wrap .nice-select.right {
  float: right; }
.form-wrap .nice-select.right .list {
  left: auto;
  right: 0; }
.form-wrap .nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px; }
.form-wrap .nice-select.small:after {
  height: 4px;
  width: 4px; }
.form-wrap .nice-select.small .option {
  line-height: 34px;
  min-height: 34px; }
.form-wrap .nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9; }
.form-wrap .nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important; }
.form-wrap .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
.form-wrap .nice-select .option:hover,
.form-wrap .nice-select .option.focus,
.form-wrap .nice-select .option.selected.focus {
  background-color: #f6f6f6; }
.form-wrap .nice-select .option.selected {
  font-weight: bold; }
.form-wrap .nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default; }
.form-wrap .no-csspointerevents .nice-select .list {
  display: none; }
.form-wrap .no-csspointerevents .nice-select.open .list {
  display: block; }

footer .pre-footer-wrap {
  background: #1E2330;
  padding: 0 0 20px 0; }
  footer .pre-footer-wrap .btn-newsletter-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  footer .pre-footer-wrap ul li a {
    color: #d9d9d9;
    font-size: 12px;
    line-height: 25px;
    padding-left: 20px;
    background: url("../../img/dot-white.svg") 4px 12px no-repeat;
    background-size: 3px;
    display: block; }
  @media screen and (max-width: 992px) {
    footer .pre-footer-wrap ul li.mobile-footer-link {
      text-align: center; }
      footer .pre-footer-wrap ul li.mobile-footer-link a {
        background: none;
        font-size: 16px;
        padding: 0;
        font-family: "Bitter", serif; } }
  footer .pre-footer-wrap ul li.header p {
    color: #fff;
    font-size: 13px;
    font-family: "Bitter", serif;
    margin-bottom: 20px; }
  footer .pre-footer-wrap ul.contact li a {
    background: none;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    display: block;
    padding: 5px 17px;
    margin-right: 20px;
    margin-bottom: 8px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    footer .pre-footer-wrap ul.contact li a i {
      font-size: 11px; }
  footer .pre-footer-wrap ul.contact li.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; }
    footer .pre-footer-wrap ul.contact li.social a {
      border: none;
      padding: 0;
      margin: 15px 15px 0 0; }
      footer .pre-footer-wrap ul.contact li.social a i {
        font-size: 28px; }
footer .footer-wrap {
  background: #141820;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  footer .footer-wrap p {
    font-family: "Bitter", serif;
    color: #bcbcbc;
    font-size: 11px;
    padding: 10px 0;
    margin: 0;
    display: block; }

h1 {
  font-family: "Bitter", serif;
  font-weight: 400; }

h2 {
  font-family: "Bitter", serif;
  font-weight: 400; }

h3 {
  font-family: "Bitter", serif;
  font-weight: 400; }

h4 {
  font-family: "Bitter", serif;
  font-weight: 400; }

h5 {
  font-family: "Bitter", serif;
  font-weight: 400; }

h2 {
  font-size: 30px; }
  @media only screen and (min-width: 480px) {
    h2 {
      font-size: 36px; } }

h3 {
  font-size: 25px;
  color: #1a1e2a; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 30px; } }
  h3.title {
    display: block;
    width: 100%;
    margin: 40px 0 20px; }
    @media only screen and (min-width: 768px) {
      h3.title {
        margin: 50px 0 20px; } }

h4 {
  font-size: 16px; }
  @media only screen and (min-width: 768px) {
    h4 {
      font-size: 19px; } }

h6 {
  font-size: 12px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.hero {
  background-image: url("../../img/bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .hero {
      min-height: 600px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row; } }
  .hero .hero-text-wrap {
    text-align: center;
    height: auto;
    background: rgba(30, 35, 48, 0.9);
    margin: 0 -15px;
    color: white;
    padding: 35px 25px; }
    @media only screen and (min-width: 480px) {
      .hero .hero-text-wrap {
        padding: 40px 30px 30px;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column; } }
    @media only screen and (min-width: 768px) {
      .hero .hero-text-wrap {
        margin: 0; } }
    .hero .hero-text-wrap h2 {
      display: block;
      margin: 0 0 5px; }
    .hero .hero-text-wrap span {
      display: block;
      width: 70px;
      height: 2px;
      background: #7C625E;
      margin: 20px auto 15px; }
      @media only screen and (min-width: 480px) {
        .hero .hero-text-wrap span {
          margin: 20px 0 15px; } }
    .hero .hero-text-wrap p {
      display: block;
      margin: 0 0 20px;
      font-size: 13px; }
      @media only screen and (min-width: 480px) {
        .hero .hero-text-wrap p {
          font-size: 16px; } }
    @media only screen and (min-width: 480px) {
      .hero .hero-text-wrap .btn-uppercased {
        align-self: flex-end; } }
  .hero.full-height {
    min-height: auto; }
    @media only screen and (min-width: 768px) {
      .hero.full-height .hero-text-wrap {
        min-height: 400px;
        padding: 60px 30px; } }
  .hero.full-width {
    background: linear-gradient(rgba(30, 35, 48, 0.82), rgba(30, 35, 48, 0.82)), url("../../img/bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; }
    .hero.full-width .hero-text-wrap {
      background: none; }
      @media only screen and (min-width: 768px) {
        .hero.full-width .hero-text-wrap {
          min-height: auto;
          padding: 35px 0; } }
      .hero.full-width .hero-text-wrap h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row; }
        .hero.full-width .hero-text-wrap h2 p {
          display: block;
          padding: 0 5px 0 2px;
          margin: 0; }
        .hero.full-width .hero-text-wrap h2 strong {
          font-weight: 400; }

.hero-img-caption {
  display: none; }
  @media only screen and (min-width: 768px) {
    .hero-img-caption {
      display: block;
      width: 100%;
      height: 30px;
      background: rgba(30, 35, 48, 0.5);
      margin-top: -30px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row; }
      .hero-img-caption .hero-img-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row; }
        .hero-img-caption .hero-img-wrap p {
          font-size: 12px;
          color: #C3C4C6;
          display: block;
          margin: 0;
          padding: 0; } }

a {
  transition: all .4s; }
  a:hover {
    text-decoration: none;
    opacity: .85; }

/* External plugin */
#contactModal .modal-content {
  border-radius: 0; }

.gal-item {
  overflow: hidden;
  padding: 3px; }
  .gal-item.single {
    padding: 0;
    width: 50%; }

.gal-item .box {
  height: auto;
  overflow: hidden; }

.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover; }

.gal-item a:focus {
  outline: none; }

.gal-item a:after {
  content: " ";
  opacity: 0;
  background-color: RGBA(30, 35, 48, 0.65);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
  line-height: 350px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.gal-item a:hover:after {
  opacity: 1; }

.modal-open .gal-container .modal {
  background-color: rgba(0, 0, 0, 0.4); }

.modal-open .gal-item .modal-body {
  padding: 0px; }

.modal-open .gal-item button.close {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #000;
  opacity: 1;
  color: #fff;
  z-index: 999;
  right: -12px;
  top: -12px;
  border-radius: 50%;
  font-size: 15px;
  border: 2px solid #fff;
  line-height: 25px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35); }

.modal-open .gal-item button.close:focus {
  outline: none; }

.modal-open .gal-item button.close span {
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow: none; }

.gal-container .modal-dialogue {
  width: 80%; }

.gal-container .description {
  position: relative;
  height: 40px;
  top: -40px;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left; }

.gal-container .description h4 {
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px; }

.gal-container .modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.gal-container .modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  opacity: 1; }

@media (min-width: 768px) {
  .gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto; } }
@media (max-width: 768px) {
  .gal-container .modal-content {
    height: 250px; } }
.navbar {
  margin-bottom: 0; }
  .navbar .navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px; }
    .navbar .navbar-brand:hover {
      opacity: 1; }
    .navbar .navbar-brand img {
      height: 50px; }
  .navbar .navbar-toggle {
    padding: 20px 0; }
    .navbar .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: #1E2330; }
  .navbar .nav .open a,
  .navbar .nav .open a:focus,
  .navbar .nav .open a:hover {
    background: none;
    border: none; }
  @media only screen and (min-width: 768px) {
    .navbar .navbar-centered {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row; } }
  @media only screen and (min-width: 1200px) {
    .navbar .navbar-centered {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-right: 104px; } }
  @media only screen and (min-width: 768px) {
    .navbar .navbar-centered .navbar-nav {
      height: 100%; } }
  .navbar .navbar-centered .navbar-nav li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #1a1e2a;
    font-size: 16px;
    text-transform: none;
    transition: none; }
    .navbar .navbar-centered .navbar-nav li a:hover {
      background: #363e56;
      color: #FCFCFC;
      opacity: 1; }
    .navbar .navbar-centered .navbar-nav li a[aria-expanded="true"] {
      background: #323a4f;
      color: #FCFCFC;
      opacity: 1; }
    @media only screen and (min-width: 768px) {
      .navbar .navbar-centered .navbar-nav li a {
        padding-top: 30px;
        padding-bottom: 30px;
        transition: all .2s; }
        .navbar .navbar-centered .navbar-nav li a:hover, .navbar .navbar-centered .navbar-nav li a:focus {
          background: none;
          color: #00CAF8; }
        .navbar .navbar-centered .navbar-nav li a i {
          font-size: 13px;
          margin-left: 2px; }
        .navbar .navbar-centered .navbar-nav li a[aria-expanded="true"] {
          background: none;
          color: #00CAF8; } }
    .navbar .navbar-centered .navbar-nav li a p {
      margin: 0 5px 0 0; }
  @media (max-width: 768px) {
    .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu {
      overflow: hidden; } }
  @media (min-width: 768px) and (max-width: 1200px) {
    .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.offscreen {
      right: 0;
      left: auto; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.offscreen.middle {
      right: -210px; } }
  .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu .dropdown-header {
    display: none; }
  .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu a:hover {
    background: none;
    color: #00CAF8; }
  .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu a i {
    display: none; }
  .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a .nav-group-link li {
    padding: 5px 15px 5px 25px;
    line-height: 20px; }
  @media only screen and (min-width: 768px) {
    .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu {
      padding: 0 0 8px 0;
      min-width: 270px;
      margin-top: -15px;
      margin-left: 15px;
      box-shadow: none;
      border: none; }
      .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide {
        min-width: 610px; }
        .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a {
          padding: 8px 10px;
          transition: none; }
          .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a .nav-group-link {
            width: 100%;
            padding-bottom: 8px;
            border: 1px solid #fff;
            transition: none; }
            .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a .nav-group-link li {
              padding: 2px 12px 2px 43px;
              font-size: 13px;
              font-family: "Open Sans", sans-serif;
              background: url("../../img/dot.svg") 29px 10px no-repeat;
              background-size: 3px; }
              .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a .nav-group-link li.header {
                transition: all .2s;
                padding: 5px 10px;
                margin-bottom: 5px;
                font-size: 15px;
                background: none;
                font-family: "Bitter", serif; }
          .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a:hover .nav-group-link, .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a:focus .nav-group-link {
            border: 1px solid #eee;
            color: #1E2330; }
          .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a:hover li.header, .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide .drop-col li a:focus li.header {
            background: #EFEFEF; }
      .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu a {
        font-family: "Bitter", serif;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row; }
        .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu a i {
          display: inline-block;
          margin-right: 5px;
          font-size: 9px; }
      .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu .dropdown-header {
        background: #1E2330;
        font-size: 14px;
        color: #fff;
        padding: 10px 15px;
        margin-bottom: 8px;
        font-family: "Bitter", serif;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row; }
        .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu .dropdown-header i {
          display: inline-block;
          margin-right: 8px; } }
  @media only screen and (min-width: 1200px) {
    .navbar .navbar-centered .navbar-nav li.dropdown .dropdown-menu.wide {
      min-width: 605px; } }

/* @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../fonts/glyphicons-halflings-regular.eot');
    src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
 */
body {
  font-family: 'Open Sans', sans-serif; }

body {
  padding-top: 35px; }

.top-cta {
  background: #1E2330;
  color: #EFEFEF;
  height: 35px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }
  .top-cta h6 {
    display: none; }
    @media only screen and (min-width: 768px) {
      .top-cta h6 {
        display: block; } }
  @media only screen and (min-width: 480px) {
    .top-cta .top-cta-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row; } }
  @media only screen and (min-width: 768px) {
    .top-cta .top-cta-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; } }
  @media only screen and (min-width: 992px) {
    .top-cta .top-cta-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; } }
  .top-cta .top-cta-wrap .questions-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .top-cta .top-cta-wrap .questions-wrap a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      color: #fff;
      font-family: "Bitter", serif;
      font-size: 12px;
      margin-left: 5px; }
      .top-cta .top-cta-wrap .questions-wrap a h6 {
        margin-right: 5px; }
    .top-cta .top-cta-wrap .questions-wrap .divider {
      margin: 0 5px;
      font-size: 9px; }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #a5a5a5; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #eee; }

.table-hover > tbody > tr:hover {
  background-color: #fafafa; }

.nav.lc-tabs li a {
  border-radius: 0;
  color: #1E2330;
  font-size: 16px; }

.tab-content {
  padding: 15px 0; }
  .tab-content p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    margin: 0 0 15px; }
  .tab-content #tab-e .bg-list-wrap {
    margin-bottom: 30px; }
    .tab-content #tab-e .bg-list-wrap .bg-list-items {
      width: 50%;
      float: left;
      padding: 30px 40px; }
      .tab-content #tab-e .bg-list-wrap .bg-list-items ul {
        margin-bottom: 30px; }
        .tab-content #tab-e .bg-list-wrap .bg-list-items ul li {
          padding: 0 0 5px 15px;
          font-size: 15px;
          background: url("../../img/dot.svg") 0 9px no-repeat;
          background-size: 4px; }
          .tab-content #tab-e .bg-list-wrap .bg-list-items ul li.bg-list-title {
            padding: 0;
            background: none; }
    .tab-content #tab-e .bg-list-wrap .gal-container .gal-item.single .box a {
      position: relative; }
      .tab-content #tab-e .bg-list-wrap .gal-container .gal-item.single .box a .btn-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .tab-content #tab-e .bg-list-wrap .gal-container .gal-item.single .box a .btn-wrap span {
          width: 200px;
          height: 35px;
          display: block;
          background: #1E2330;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          font-size: 16px; }

section {
  padding: 0 15px; }
  section .thumbnails-wrap {
    padding: 20px 0 25px; }
    @media only screen and (min-width: 768px) {
      section .thumbnails-wrap {
        padding: 20px 0 35px;
        min-height: 200px; } }
    section .thumbnails-wrap .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
      background: #FCFCFC; }
      section .thumbnails-wrap .thumbnail .image-holder {
        width: 100%;
        min-height: 300px;
        background: url("https://picsum.photos/800/600/?random") no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
        @media only screen and (min-width: 768px) {
          section .thumbnails-wrap .thumbnail .image-holder {
            min-height: 200px; } }
      section .thumbnails-wrap .thumbnail .caption {
        padding: 10px 20px; }
        section .thumbnails-wrap .thumbnail .caption p .btn-uppercased {
          color: #1E2330; }
          section .thumbnails-wrap .thumbnail .caption p .btn-uppercased:hover {
            background: none;
            color: #00CAF8; }
          section .thumbnails-wrap .thumbnail .caption p .btn-uppercased:focus {
            background: none;
            color: #00CAF8; }
  section.recommandations {
    background: #fff; }
  section.blog {
    background: #EFEFEF; }
    section.blog .btn-blog-wrap {
      margin: 20px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
  section.pourquoi {
    display: none; }
    @media only screen and (min-width: 768px) {
      section.pourquoi {
        display: block; } }
    section.pourquoi .thumbnails-wrap .thumbnail {
      background: none; }
      @media only screen and (min-width: 768px) {
        section.pourquoi .thumbnails-wrap .thumbnail .image-holder {
          width: 100%;
          min-height: 70px;
          background-position: 50% 50%;
          background-size: cover; } }
      section.pourquoi .thumbnails-wrap .thumbnail .image-holder.icon-q {
        background: url("../../img/01.png") 50% 50% no-repeat; }
      section.pourquoi .thumbnails-wrap .thumbnail .image-holder.icon-w {
        background: url("../../img/02.png") 50% 50% no-repeat; }
      section.pourquoi .thumbnails-wrap .thumbnail .image-holder.icon-e {
        background: url("../../img/03.png") 50% 50% no-repeat; }
      section.pourquoi .thumbnails-wrap .thumbnail .image-holder.icon-r {
        background: url("../../img/04.png") 50% 50% no-repeat; }
      section.pourquoi .thumbnails-wrap .thumbnail .caption {
        text-align: center; }
  section.breadcrumbs .breadcrumbs-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 7px 0; }
    section.breadcrumbs .breadcrumbs-wrap .breadcrumbs-home {
      display: block;
      margin: 0;
      padding: 0 5px 0 0;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      flex-flow: "Open Sans", sans-serif; }
    section.breadcrumbs .breadcrumbs-wrap span i {
      font-size: 10px;
      padding: 0 5px 0 0; }
    section.breadcrumbs .breadcrumbs-wrap p {
      display: block;
      margin: 0;
      padding: 0 5px 0 0;
      font-size: 12px; }
  section.trip-list .thumbnails-wrap .thumbnail {
    padding: 0; }
    @media only screen and (min-width: 768px) {
      section.trip-list .thumbnails-wrap .thumbnail {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row; } }
    section.trip-list .thumbnails-wrap .thumbnail .image-holder {
      flex: 2;
      min-height: 190px; }
      @media only screen and (min-width: 480px) {
        section.trip-list .thumbnails-wrap .thumbnail .image-holder {
          flex: 2;
          min-height: 210px; } }
      @media only screen and (min-width: 768px) {
        section.trip-list .thumbnails-wrap .thumbnail .image-holder {
          flex: 1;
          height: 250px; } }
    section.trip-list .thumbnails-wrap .thumbnail .caption {
      flex: 2; }
      section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        @media only screen and (min-width: 768px) {
          section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row; } }
        section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          font-size: 23px;
          line-height: 1.2; }
          @media only screen and (min-width: 768px) {
            section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              flex: 2;
              text-align: left; } }
          @media only screen and (min-width: 992px) {
            section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
              flex: 3; } }
          @media only screen and (min-width: 1200px) {
            section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
              flex: 4; } }
          section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap h4 .subtitle {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: #7C625E;
            padding-top: 5px; }
        section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 20px 0 25px; }
          @media only screen and (min-width: 768px) {
            section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap {
              flex: 1;
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              flex-direction: column;
              padding: 0;
              margin-top: 8px; } }
          section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap .price {
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            display: block;
            margin: 0;
            padding: 0;
            line-height: 1.1;
            font-size: 26px;
            float: left; }
          section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap .currency {
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            display: block;
            margin: 0;
            padding: 0 0 0 5px;
            font-size: 26px;
            float: right; }
          section.trip-list .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap .price-info {
            color: #7C625E;
            display: block;
            line-height: 1.1;
            margin: 0;
            padding: 0; }
      section.trip-list .thumbnails-wrap .thumbnail .caption .trip-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 0 5px 0; }
        section.trip-list .thumbnails-wrap .thumbnail .caption .trip-details span {
          display: none; }
          @media only screen and (min-width: 768px) {
            section.trip-list .thumbnails-wrap .thumbnail .caption .trip-details span {
              display: block; } }
        @media only screen and (min-width: 768px) {
          section.trip-list .thumbnails-wrap .thumbnail .caption .trip-details {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row; } }
        section.trip-list .thumbnails-wrap .thumbnail .caption .trip-details h5 {
          display: block;
          margin: 0;
          padding: 5px 0;
          font-size: 13px;
          font-family: "Open Sans", sans-serif; }
  section.single-trip .thumbnails-wrap .thumbnail {
    padding: 0;
    background: none; }
    @media only screen and (min-width: 768px) {
      section.single-trip .thumbnails-wrap .thumbnail {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row; } }
    section.single-trip .thumbnails-wrap .thumbnail .image-holder {
      flex: 2;
      min-height: 190px; }
      @media only screen and (min-width: 480px) {
        section.single-trip .thumbnails-wrap .thumbnail .image-holder {
          flex: 2;
          min-height: 210px; } }
      @media only screen and (min-width: 768px) {
        section.single-trip .thumbnails-wrap .thumbnail .image-holder {
          flex: 1;
          height: 250px; } }
    section.single-trip .thumbnails-wrap .thumbnail .caption {
      flex: 2; }
      section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        @media only screen and (min-width: 768px) {
          section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row; } }
        section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          font-size: 25px;
          line-height: 1.2; }
          @media only screen and (min-width: 768px) {
            section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              flex: 2;
              font-size: 28px;
              text-align: left; } }
          @media only screen and (min-width: 992px) {
            section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
              flex: 3; } }
          @media only screen and (min-width: 1200px) {
            section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap h4 {
              flex: 4; } }
          section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap h4 .subtitle {
            font-family: "Bitter", serif;
            font-size: 16px;
            color: #7C625E;
            padding-top: 5px; }
        section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 20px 0 25px; }
          @media only screen and (min-width: 768px) {
            section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              padding: 0;
              margin-top: 8px; } }
          section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap .price {
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            display: block;
            margin: 0;
            padding: 0 0 3px;
            line-height: 1.1;
            font-size: 26px;
            float: left; }
          section.single-trip .thumbnails-wrap .thumbnail .caption .title-wrap .price-wrap .currency {
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            display: block;
            margin: 0;
            padding: 0 0 3px 5px;
            font-size: 26px;
            float: right; }
  section.single-trip .table-wrap {
    margin-top: 35px; }
  section.single-trip .day-by-day-trip-wrap {
    width: 100%; }
    section.single-trip .day-by-day-trip-wrap .single-day-wrap {
      width: 100%;
      border: 1px solid #eee; }

@media only screen and (min-width: 768px) {
  .sidebar {
    padding: 20px 0; } }
.sidebar .print {
  padding: 5px 30px; }
  @media only screen and (min-width: 768px) {
    .sidebar .print {
      padding: 0; } }
  .sidebar .print a {
    color: #7C625E;
    font-size: 14px; }
    .sidebar .print a .printer {
      background: url("../../img/printer.svg") 50% 50% no-repeat;
      padding: 10px 8px;
      background-size: 16px;
      display: block;
      float: left; }
    .sidebar .print a p {
      display: block;
      float: left;
      padding-left: 10px; }
.sidebar .sidebar-box {
  margin-bottom: 15px;
  background: #EFEFEF;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }
  .sidebar .sidebar-box .sidebar-title {
    font-size: 18px;
    margin: 2px 0 8px; }
    .sidebar .sidebar-box .sidebar-title img {
      height: 25px; }
  .sidebar .sidebar-box.sidebar-trip-details h5 {
    display: block;
    margin: 0;
    padding: 5px 10px 5px 5px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }
    .sidebar .sidebar-box.sidebar-trip-details h5 i {
      margin-right: 7px; }
  .sidebar .sidebar-box.sidebar-contact .sidebar-contact-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .sidebar .sidebar-box.sidebar-contact .sidebar-contact-wrap h4 {
      font-size: 18px; }
      @media only screen and (min-width: 768px) {
        .sidebar .sidebar-box.sidebar-contact .sidebar-contact-wrap h4 {
          margin-top: 10px; } }
    .sidebar .sidebar-box.sidebar-contact .sidebar-contact-wrap h5 {
      font-family: "Open Sans", sans-serif;
      line-height: 5px; }
    .sidebar .sidebar-box.sidebar-contact .sidebar-contact-wrap img {
      height: 160px; }
    @media only screen and (min-width: 768px) {
      .sidebar .sidebar-box.sidebar-contact .sidebar-contact-wrap .sidebar-contact-button-wrap {
        margin-top: 10px; } }
  .sidebar .sidebar-box.sidebar-table {
    padding: 0; }
    .sidebar .sidebar-box.sidebar-table .sidebar-title {
      padding: 15px 30px;
      width: 100%;
      margin: 0; }
    .sidebar .sidebar-box.sidebar-table .table-wrap {
      margin: 0;
      width: 100%; }
      .sidebar .sidebar-box.sidebar-table .table-wrap table {
        margin: 0; }
        .sidebar .sidebar-box.sidebar-table .table-wrap table tbody tr td {
          width: 50%;
          text-align: left;
          font-size: 14px; }
          .sidebar .sidebar-box.sidebar-table .table-wrap table tbody tr td:first-of-type {
            padding-left: 30px;
            color: #7C625E; }
          .sidebar .sidebar-box.sidebar-table .table-wrap table tbody tr td:last-of-type {
            text-align: center;
            font-weight: 600; }

@media screen and (min-width: 992px) {
  .m0-i-sm {
    margin: 0 !important; } }

@media screen and (min-width: 992px) {
  .p0-i-sm {
    padding: 0 !important; } }

@media screen and (min-width: 1200px) {
  .pr0-i-md {
    padding-right: 0 !important; } }

@media screen and (min-width: 1200px) {
  .pl0-i-md {
    padding-left: 0 !important; } }

@media screen and (min-width: 768px) {
  .pr0-i-xs {
    padding-right: 0 !important; } }

@media screen and (min-width: 768px) {
  .pl0-i-xs {
    padding-left: 0 !important; } }

.w100 {
  width: 100%; }

.w120 {
  width: 120px; }

.dash {
  display: block;
  width: 70px;
  height: 2px;
  background: #7C625E;
  margin: 15px auto 15px; }
  @media only screen and (min-width: 480px) {
    .dash {
      margin: 15px 0 15px; } }

/*# sourceMappingURL=main.css.map */
